{% extends 'front.html.twig' %}

{% block title %}Bienvenue sur mon site{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Bienvenue sur le front de mon site internet</h1>
</div>
{% endblock %}
